version: "3.9"
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
        - "3000:3000"
    volumes:
          - .:/app
    stdin_open: true
    tty: true
    depends_on:
          - backend
#  upload images api
  backend:
    build:
      context: ./image-upload-backend
      dockerfile: Dockerfile
    ports:
        - "5000:5000"
    volumes:
        - ./image-upload-backend/uploads:/app/uploads
    stdin_open: true
    tty: true

  #login users or admin api
  users-api:
    build:
      context: ./users-api
      dockerfile: Dockerfile
    ports:
      - "4000:4000"